In [1]:
# Step 1: Importing Libraries
import pandas as pd

In [2]:
# Step 2: Importing Datasets
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
df = pd.read_csv(url)

In [3]:
# Step 3: Getting to know your data
df.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [4]:
# Delete the column 'Unnamed: 0' and 'Id'
df.drop(['Unnamed: 0', 'Id'], axis = 1, inplace = True)

In [6]:
df.shape

(1016395, 5)

In [7]:
df.index

RangeIndex(start=0, stop=1016395, step=1)

In [8]:
df.columns

Index(['Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 5 columns):
Name      1016395 non-null object
Year      1016395 non-null int64
Gender    1016395 non-null object
State     1016395 non-null object
Count     1016395 non-null int64
dtypes: int64(2), object(3)
memory usage: 38.8+ MB

In [10]:
# Is there more male or female names in the dataset?
df['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [11]:
# Group the dataset by name and assign to names
names = df.groupby('Name')

In [26]:
# How many different names exist in the dataset?
names.size().count()

17632

In [29]:
# What is the name with most occurrences?
df['Name'].value_counts().head(1)

Riley    1112
Name: Name, dtype: int64

In [41]:
# Incomplete