In [2]:
# Importing Libraries
import numpy as np
import pandas as pd

In [6]:
# Importing data
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, delimiter='\t',encoding='utf-8')

In [7]:
# View first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [13]:
# Number of observation in the dataset
rows, cols = chipo.shape
print("#Rows : ", rows)
print("#Columns : ", cols)

#Rows :  4622
#Columns :  5

In [16]:
# Name of the columns
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
# Data indexing
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

In [23]:
# Converting item_price in float
chipo['item_price'] = chipo['item_price'].apply(lambda price: float(price[1:]))
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [25]:
# Most ordered item
most_ordered_item = chipo.groupby('item_name')
most_ordered_item = most_ordered_item.sum()
most_ordered_item.sort_values(['quantity'], ascending=False)
print(most_ordered_item.head(1))

                   order_id  quantity  item_price
item_name
6 Pack Soft Drink     52322        55      356.95

In [26]:
# Most ordered item in choice_description column
most_ordered_food = chipo.groupby('choice_description')
most_ordered_food = most_ordered_food.sum()
most_ordered_food = most_ordered_food.sort_values(['quantity'], ascending=False)
print(most_ordered_food.head(1))

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

In [27]:
# Items ordered in total
total_items_ordered = chipo['quantity'].sum()
print(total_items_ordered)

4972

In [30]:
# Net revenue generated
total_revenue_generated = (chipo['quantity']*chipo['item_price']).sum()
print("$" + str(np.round(total_revenue_generated, 2)))

$39237.02

In [44]:
# Number of orders made
number_of_orders = chipo.groupby('order_id').sum()
print(number_of_orders.shape[0])

1834

In [48]:
# Average amount of order
avg_amount = total_revenue_generated/(number_of_orders.shape[0])
print("$" + str(np.round(avg_amount, 2)))

$21.39

In [50]:
# Number of different items sold
count_different_items_sold = chipo.groupby('item_name').sum().count()
print(count_different_items_sold)

order_id      50
quantity      50
item_price    50
dtype: int64