In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "http://www.calvin.edu/~stob/data/Berkeley.csv"
admissions = pd.read_csv(url)

In [3]:
# Print first five rows
admissions.head(5)

      Admit  Gender Dept  Freq
0  Admitted    Male    A   512
1  Rejected    Male    A   313
2  Admitted  Female    A    89
3  Rejected  Female    A    19
4  Admitted    Male    B   353

In [8]:
# Data processing
# Replace Admitted - 1, Rejected - 0
processAdmit = lambda status: 1 if (status == "Admitted") else 0
admissions['Admit'] = admissions['Admit'].apply(processAdmit)

In [9]:
# Replace Male - 1, Female - 0
processGender = lambda gender: 1 if (gender == "Male") else 0
admissions['Gender'] = admissions['Gender'].apply(processGender)

In [10]:
# Print first 5 rows
admissions.head(5)

   Admit  Gender Dept  Freq
0      1       1    A   512
1      0       1    A   313
2      1       0    A    89
3      0       0    A    19
4      1       1    B   353

In [16]:
# Total number of male and female applied
applied = admissions.groupby('Gender').sum()
print(applied['Freq'])

Gender
0    1835
1    2691
Name: Freq, dtype: int64

In [19]:
# Total percentage of make and female applied
print((applied['Freq']/admissions['Freq'].sum())*100)

Gender
0    40.543526
1    59.456474
Name: Freq, dtype: float64

In [51]:
# Total number of male admitted vs male applied
male_admits = admissions[(admissions['Admit'] == 1) & (admissions['Gender'] == 1)]['Freq'].sum()
male_applied = admissions[(admissions['Gender'] == 1)]['Freq'].sum()
print(male_admits*100/male_applied)

44.518766257896694

In [52]:
# Total number of females admitted vs female applied
female_admits = admissions[(admissions['Admit'] == 1) & (admissions['Gender'] == 0)]['Freq'].sum()
female_applied = admissions[(admissions['Gender'] == 0)]['Freq'].sum()
print(female_admits*100/female_applied)

30.354223433242506

In [53]:
# Total number of male admitted vs students applied
print(male_admits*100/admissions['Freq'].sum())

26.469288555015467

In [55]:
# Total number of female admitted vs students applied
print(female_admits*100/admissions['Freq'].sum())

12.306672558550597